@import reset
@import normalize

body
  padding-top 40px

h1
  text-align center
  margin-bottom 50px

#twitterbtn
  position absolute
  top 90px
  left 50%
  margin-left -45px

.col
  position absolute
  text-align center

.col-left
  left 0
  right 50%

.col-right
  left 50%
  right 0

textarea
  width 95%
  height 400px