!!!5
title Css2Stylus
link(href="css.css", rel="stylesheet")
script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js")
script(src="css2stylus.min.js")

h1 Css2Stylus

#twitterbtn
  a(href="https://twitter.com/share", class="twitter-share-button", data-text="Convert your CSS into Stylus!", data-url="http://css2stylus.com", data-related="tdecs", data-lang="en", data-hashtags="css,stylus", data-size="large", data-count="true") Tweet
  script
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

#main
  div.col.col-left
    label
      h2 Paste your CSS
      textarea#input

  div.col.col-right
    label
      h2 Generated Stylus
      textarea#output