prefix(prop, val)
  -webkit-{prop} val
  -moz-{prop} val
  -ms-{prop} val
  -o-{prop} val
  {prop} val

box-shadow()
  prefix('box-shadow', arguments)

border-radius()
  prefix('border-radius', arguments)

user-select()
  prefix('user-select', arguments)

transform()
  prefix('transform', arguments)

opacity(val)
  opacity val
  filter unquote('alpha(opacity=' + val * 100 + ')')