!!!5
meta(charset="utf-8")
title Css2Stylus
link(href="css/css.min.css", rel="stylesheet")

h1 Css2Stylus

#main
  .col.col-left
    .header
      h2 Paste your CSS
      button#loadsample Load sample
      #options
        button#optionsbtn options
        ul#optionsmenu
          li
            label(title="Specifies indentation format")
              span Indentation
              select(name="indent", data-option)
                option(selected, value=2) 2 spaces
                option(value=4) 4 spaces
                option(value="tab") tab
          li
            label(title="Remove vendor prefixes")
              span unPrefix
              input(type="checkbox", name="unPrefix", id="unPrefix", data-option)
          li
            label(title="Keep css punctuation")
              span cssSyntax
              input(type="checkbox", name="cssSyntax", id="cssSyntax", data-option)

    textarea#input

  .col.col-right
    .header
      h2 Generated Stylus
      .controls
        button#selectall Select all
    textarea#output

#footer
  p About the author: <a href="http://twitter.com/tdecs">@tdecs</a>


script(src="js/demo.min.js")
script
  var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-24098807-9"]);_gaq.push(["_trackPageview"]);(function(){var a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})();

#twitterbtn
  a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://css2stylus.com", data-text="Convert your #CSS into #Stylus!", data-size="large", data-related="tdecs") Tweet
  script
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
